#invText{
    font-size: larger;
    color: black;
}

.inventory_container{
    height: 92%;
    width: 92%;
    position: relative;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #FCB025;
    display: flex;
    
}

.inventory_container .numbers{
    height: 300px;
    width: 300px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    
}

.inventory_container .graphs{
    height: 300px;
    width: 500px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    background-color: #4E2603;
    position: relative;
    box-shadow: 0px 2px 2px 2px #2e1602;
    display: flex;
}

.inventory_container .table{
    height: 300px;
    width: 300px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.card .piechart{
    position: relative;
    margin-left: 10px;
}