@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.itemmanagement{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Noto Sans", sans-serif

}
.itemmanagement *{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

/* SIDEBAR */

.sidebar div{
    font-weight: 900;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}
.back{
    display: flex;
    background-color: #EB4109;
    height: 3em;
    width: 5em;
    padding: 0 1em;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
}

.itemmng{
    display: flex;
    width: 17rem;
    border-radius: 20px;
    background-color: #ffe38a;
    align-items: center;
    justify-content: center;
    color: black;
    transition: background-color 300ms;
}

.stockmng{
    display: flex;
    width: 17rem;
    border-radius: 20px;
    background-color: #fcb025;
    align-items: center;
    justify-content: center;
    color: black;
    transition: background-color 300ms;
}

.suppliermng{
    display: flex;
    width: 17rem;
    border-radius: 20px;
    background-color: #fcb025;
    align-items: center;
    justify-content: center;
    color: black;
    transition: background-color 300ms;
}

.itemmng:hover{
    transform: translateY(-3px) scale(104%);
    cursor: pointer;
}
.itemmng:active{
    transform: translateY(3px) scale(96%);
    background-color: #4E2603;
}
.stockmng:hover{
    transform: translateY(-3px) scale(104%);
    cursor: pointer;
}
.stockmng:active{
    transform: translateY(3px) scale(96%);
    background-color: #4E2603;
}
.suppliermng:hover{
    transform: translateY(-3px) scale(104%);
    cursor: pointer;
}
.suppliermng:active{
    transform: translateY(3px) scale(96%);
    background-color: #4E2603;
}


/* CONTENT */
.dropdown-container {
    height: 2.5rem;
    position: absolute; /* Allows positioning without affecting other elements */
    top: 2rem; /* Adjust this value to move it down */
    left: 22%; /* Center it horizontally */
    transform: translateX(-50%); /* Center adjustment */
    z-index: 10; /* Ensure it appears above other content */
}

.dropdown {
    padding: 0.5em;
    width: 10rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    transition: border-color 300ms;
}

.dropdown:hover {
    border-color: #4E2603; /* Change border color on hover */
}

.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.tablebg{
    width: 75%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FCB025;
    transition: all 500ms ease;
    padding: 1rem;
    box-sizing: border-box;
}
.inner-table {
    display: table;
}

.inner-table th, .inner-table td {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    color: black;
}

.inner-table th {
    background-color: white;
    font-weight: bold;
    color: black;
}

.button-container {
    position: absolute;
    display: flex;
    gap: 2em;
    bottom: 2rem;
    right: 5%;
    transform: translateX(0%);
}

.add-button {
    padding: 0.5em 1em;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 1.5rem;
    border: none;
    font-weight: 600;
    background-color: green;
    color: white;
    border-radius: 25px;
    transition: background-color 300ms;
}
.add-button:hover{
    transform: translateY(-3px) scale(104%);
    cursor: pointer;
}
.add-button:active{
    transform: translateY(3px) scale(96%);
    background-color: #4E2603;
}

.remove-button {
    padding: 0.5em 1em;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 1.5rem;
    border: none;
    font-weight: 600;
    background-color: red;
    color: white;
    border-radius: 25px;
    transition: background-color 300ms;
}
.remove-button:hover{
    transform: translateY(-3px) scale(104%);
    cursor: pointer;
}
.remove-button:active{
    transform: translateY(3px) scale(96%);
    background-color: #4E2603;
}