.table{
    display: inline-block;
    inline-size:auto;
    position: relative;
    width: 90% !important;
}

.table *{
    font-size: 20px;
}
.datas{
    font-size: 20px;
}

.dtb{
    position: absolute;
}
.dtb .datas{
    
    border: black 1px solid;
}
