.dashboardInventory {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 6fr;
    font-family: "Open Sans", serif;
    font-size: 1.2em;
    font-weight: 800;
}
.sidebarInventory{
    padding-top: 3em;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    place-self: center;
    gap: 1em;
    color: white;
    height: 100vh;
    font-weight: 500;
    font-size: 1em;
}
.mainContentInventory{
    height: 100vh;
    width: 100%;
    /*background-color: #fbfcfa;*/
    display: grid;
    gap: 1em;
}
.inventoryButton{
    padding: 1em;
    height: 1.5em;
    border-radius: 10px;
    cursor: pointer;
}


.active{
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
    display: flex;
    justify-content: center;
    /*background-color: #281506;   */
    
    /* transform: scaleX(105%); */
}

.inactive{
    text-decoration: none;
    display: flex;
    justify-content: center;
    /*background-color: #4E2603;   */

}
.mainContentInventory{
    background-color: #ffe3a8;
}
.activeContentInventory{
    margin: 2em;
}  
.p-datatable .p-datatable-tbody > tr.p-highlight {
    background-color: #ffeb3b; /* Yellow background */
    color: #00ffea; /* Blue text color */
}
/* Optional: Hover effect for all rows */
.p-datatable tbody tr:hover {
    background-color: #f0f0f0 !important; /* Light grey on hover for all rows */
  }
.low-stock {
    background-color: #ffcccc !important;
    color: rgb(255, 6, 6);
  }
.low-stock.p-highlight {
    background-color: #ff9999; /* Slightly darker red for selected */
    color: white; /* White text for contrast */
}
.low-stock.p-highlight:hover {
    background-color: #ff6666; /* Even darker red on hover */
  }
.stkMgmtLowPart{
    display: flex;
    border: #4E2603 5px solid;
}
.OrderSupplyBox{
    align-content: last baseline;
}
.orderContainer * {
    width: 10em;
}

.Order{
    position: absolute;
    background-color: #DCA033;
    border: #4E2603 5px solid;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 70%;
}
.hide{
    top: 100%;
}
.show{
    top: 10%;
}
.orderDetails > *{
    border: 1px solid blue;
}
.orderContent{
    display: flex;
    flex-direction: column;  
}
.orderDetails{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-self: center;
    padding: 2em;
    gap: 1em;
}

.selectedOrder{
    display: grid;
    height: 10em;
    border-radius: 50%;
    border-color: black;
    justify-content: center;
    align-items: center;
}

.types{
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 80vh;
    transform: translateY(-10px);
}
.types > div h4{
    width: 100%;
}
.types > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.sectionPay{
    display: flex;
    flex-direction: column;
    justify-content: left;
    transform: translateY(-10%);
}
.resultDisplay {
    position: absolute;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow:
        1.9px 2.8px 2.2px rgba(0, 0, 0, 0.048),
        4.5px 6.7px 5.3px rgba(0, 0, 0, 0.069),
        8.4px 12.5px 10px rgba(0, 0, 0, 0.085),
        15px 22.3px 17.9px rgba(0, 0, 0, 0.101),
        28px 41.8px 33.4px rgba(0, 0, 0, 0.122),
        67px 100px 80px rgba(0, 0, 0, 0.17)
    ;
    opacity: 0; /* Initially hidden */
    pointer-events: none; /* Prevent interaction when hidden */
    transition: opacity 0.3s ease, pointer-events 0.3s ease;
}

.show {
    opacity: 1; /* Fully visible */
    pointer-events: auto; /* Allow interaction */
}


.button-container{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    height: 50px;
}

.add-button {
    background-color: green;
    border-color: green;
    border-radius: 25px;
    color: white;
    width: 150px;
    justify-content: center;
    font-family: "Open Sans", serif;
}

.remove-button {
    background-color: red;
    border-color: red;
    border-radius: 25px;
    color: white;    
    width: 150px;
    justify-content: center;
    font-family: "Open Sans", serif;
}

.inventory-table{
    padding-top: 20px;
}

.products-table{
    padding-top: 20px;
}

.p-datatable .p-paginator {
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.p-paginator .p-paginator-pages .p-paginator-page {
    margin: 0 20px;
}

.order-button {
    background-color: green;
    border-color: green;
    border-radius: 25px;
    color: white;
    height: 40px;
    width: 150px;
    justify-content: center;
}