*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Product_Selection{
    background-color: #FCB025;
    z-index: 1;
}



#order_text{
    padding-left: 20px;
}

.search{
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: 50px;
    padding-top: 10px;

}

.search form{
    display: flex;
    margin: 0;

}

.search input{
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 16px;

}
.search input:hover{
    border: 1px solid #000;
}

.search button{
    padding: 10px;
    background-color: #4E2603;
    border: none;
    border-radius: 5px;
    color: #FFE3A8;
    font-size: 19px;
    cursor: pointer;
}

.search button:hover{
    background-color: #EB8509;
}



.circle{
    width: 150px;
    height: 150px;
    font-size: 18px;
    text-align: center;
    border-radius: 75px;
    margin: 2px;
    
}

#circle1{
    background-color: #EB8509;
    border: none;
}

#circle1:hover{
    background-color: #FFE3A8;
}

.Selected{
    width: 300px;
    height: 300px;
    font-size: 24px;
    text-align: center;
    border-radius: 150px;
    margin: 20px;
}
#circle2{
    background-color: #4E2603;
}

#rec1{
    background-color: #4E2603;
    position: absolute;
    height: 100vh;
    width: 30vw;
    right: 0;
    top:0;
}

#rec2{
    border: none;
    background-color: #EB8509;
    border-radius: 20px;
    height: 300px;
    width: 500px;
    position: absolute;
    top: 25px;
    left: 400px;
}


.purchase_button{
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    font-size: large;
}

#p_now{
    background-color: #4E2603;
    color: #ddd;
    position: absolute;
    left: 680px;
    top: 345px;
}

#add{
    background-color: #FFE3A8;
    position: absolute;
    left: 420px;
    top: 345px;
}

#p_now:hover{
    background-color: #EB8509;
    
}

#add:hover{
    background-color: #EB8509;
    
}

.Order .content{
    position: absolute;
    background-color: #C67529;
    height: 65vh;
    width: 70vw;
    z-index: 2;
    transform: scale(0);
}

.Order .close_btn{
    position: absolute;
    right: 20px;
    top: 20 px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: #4E2603;
    color: #ddd;
    font-size: 20px;
}

.close_btn:hover{
    background-color: #EB8509;
}

.Product_Selection .container{
    display: flex;
    border: none;
    width: 70vw;
    justify-content: space-evenly;
    padding:10px;
    height: 91.75vh;
    flex-wrap: wrap;
    
}

.Product_Selection.active .container{
    display: flex;
    border: none;
    width: 70vw;
    justify-content: space-evenly;
    height: 26.75vh;
    flex-wrap: wrap;
    overflow-y: auto;
    
}

.Order.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(0%, 0%) scale(1);
}


#size_text{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 5px;
    bottom: 5px;

}

.radio_inline{
    border-radius: 5px;
    background-color: #FFE3A8;
    padding: 5px;
    position:relative;
    display: inline-flexbox;
    margin: 10px;
}

#sugar_text{
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    left: 5px;
    bottom: 5px;

}

#add_on_text{
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    left: 5px;
    bottom: 5px;
}

